
    <form role="form">
      <div class="row" style="margin-bottom:10px">
        <div class=" col-md-1 col-sm-0 col-xs-0 "></div>
        <div class=" col-md-2 col-sm-2 col-xs-12 ">
          <label for="inputTitle">Title</label>
        </div>
        <div class=" col-md-6 col-sm-6 col-xs-12 ">
          <input ng-model="training.title" type="text" class="form-control" id="inputTitle" placeholder="Enter your Training plan title">
        </div>
        <div class=" col-md-3 col-sm-4 hidden-xs">
          <div class=" col-md-4 col-sm-4 hidden-xs">
            <p id="totalTimeValue"><span class="glyphicon glyphicon-time"></span>{{training.duration}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-1 col-sm-0 col-xs-0 "></div>
        <div class=" col-md-2 col-sm-2 col-xs-12 ">
          <label for="inputDescription">Description</label>
        </div>
        <div class=" col-md-6 col-sm-6 col-xs-12 ">
          <textarea ng-model="training.description" id="inputDescription" class="form-control" rows="4"></textarea>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <div class=" col-md-1 col-sm-0 col-xs-0 "></div>
        <div class=" col-md-2 col-sm-2 col-xs-12 ">
          <label for="inputDescription">Domain</label>
        </div>
        <div class=" col-md-6 col-sm-6 col-xs-12 ">
          <p>
            <select ng-model="training.sport" id="e1" class="select2-container populate" style="width:100%">
              <option value="Running">Running</option>
              <option value="Volleyball">Volleyball</option>
              <option value="Boxe">Boxe</option>
              <option value="BaseBall">BaseBall</option>
            </select>
          </p>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-1 col-sm-0 col-xs-0 "></div>
        <div class=" col-md-9 col-sm-12 col-xs-12 ">
          <div class="jumbotron" style="padding:10px">

            <div class="row">
              <div class=" col-md-1 col-sm-1 col-xs-1 ">
                <button ng-click="addExercise()" type="button" class="btn btn-success">Add an Exercice</button>
              </div>
              <div class=" col-md-12 col-sm-12 col-xs-12 "></div>
            </div>
            <div class="row">
              <div class=" col-md-2 col-sm-0 col-xs-0 "></div>
              <div class=" col-md-2 col-sm-2 col-xs-12 ">
                <label for="titleDescription">Ex. Title</label>
              </div>
              <div class=" col-md-6 col-sm-6 col-xs-12 ">
                <input ng-model="exercise.title" type="text" class="form-control" id="titleDescription" placeholder="Enter your exercice title">
              </div>
              <div class=" col-md-2 col-sm-4 col-xs-12 ">
                <div class="input-group">
                  <input type="number" ng-model="hours" ng-init="hours=0" type="text" class="form-control">
                  <span class="input-group-addon" style="padding:0px">:</span>
                  <input type="number" ng-model="minutes " ng-init="minutes=0" type="text" class="form-control">
                  <span class="input-group-addon" style="padding:0px">:</span>
                  <input type="number" ng-model="seconds" ng-init="seconds=0" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class=" col-md-2 col-sm-0 col-xs-0 "></div>
              <div class=" col-md-2 col-sm-2 col-xs-12 ">
                <label for="exerciseDescription">Ex. Description</label>
              </div>
              <div class=" col-md-6 col-sm-6 col-xs-12 ">
                <textarea ng-model="exercise.description" id="exerciseDescription" class="form-control" rows="4"></textarea>
              </div>
              <div class=" col-md-2 col-sm-4 hidden-xs">
                <h1 style="text-align: center;"> <span class="glyphicon glyphicon-time"></span> </h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-1 col-sm-0 col-xs-0 "></div>
      <div class=" col-md-9 col-sm-12 col-xs-12 ">
        <table class="table table-striped table-condensed">
          <tr ng-repeat="exercise in exercises track by $index">
            <td>{{$index +1}}</td>
            <td>{{exercise.title}}</td>
            <td>{{exercise.description}}</td>
            <td>{{exercise.duration}}</td>
            <td class="text-right">
              <a href="" ng-click="deleteExercise($index)"> <i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        </table>
      </div>

      <div class=" col-md-2 col-sm-5 col-xs-12 text-center">
        <button type="submit" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-remove"></span> </button>
        <button ng-click="postTraining()" type="submit" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-ok"></span> </button>
      </div>

    </form>
