
  <div class=" col-md-11 col-sm-12 col-xs-12 ">
    <h1>{{training.title}} <span class="text-muted"> {{training.description}}</span></h1>
    <h2>Plan</h2>
    <ol>
      <li ng-repeat="exercise in training.exercises track by $index">
        <p>{{exercise.title}} &mdash; <span class="text-muted">{{exercise.duration/3600 | number:0}}  hours {{(exercise.duration%3600)/60 | number:0}} minutes {{exercise.duration%60}} seconds</span></p>
      </li>
    </ol>
    <h2>Current Exercise <span class="text-primary"> {{current.title | uppercase}}</span></h2>
    <p class="text-muted">{{current.description}}</p>

    <div class=" col-md-12 col-sm-12 col-xs-12 centered">
        <div class="btn-group">
            <button type="button" class="btn btn-default " ng-click="start(current.index)"><span class="glyphicon glyphicon-play"></span> </button>
            <button type="button" class="btn btn-default " > <span class="glyphicon glyphicon-pause"></span> </button>
            <button type="button" class="btn btn-default " > <span class="glyphicon glyphicon-stop"></span> </button>
        </div>
        <button type="button" class="btn btn-default " > <span class="glyphicon glyphicon-repeat"></span> </button>
    </div>
  </div>
  <!-- <div class=" col-md-2 ol-sm-0 col-xs-0 " ></div> -->
  <div class=" col-md-10 ol-sm-5 col-xs-0 "></div>
  <div class=" col-md-2 ol-sm-5 col-xs-12 text-center">
    <button type="submit" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-remove"></span> </button>
    <button type="submit" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-ok"></span> </button>
  </div>
